input{
    width: 66%;
    padding: 10px;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button{
    width: 33%;
    padding: 10px;
    margin: auto;
}

button:hover{
    background-color: #b857c5;
    cursor: pointer;
}


div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
